@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500&display=swap');

body{
    font-family: 'El Messiri', sans-serif;
    margin: 30px;
}

input {
    width: 150px;
    padding: 0px;
    margin: 5px;
    display: block;
    margin-bottom: 30px;
    margin-left: 0px;
}

form{
    margin-bottom: 50px;
}
